# test coverage
coverage/

# environment config
.env
.env.*

# don't push modules
node_modules/

# ignore specifically for mac OS
.DS_Store

# ignore launch.json settings for VS Code
.vscode/

# Ignore logs
server/logs.txt