.lobbyPage {
    background-color: #393939;
    width: 100%;
    height: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.lobbyHeader {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    font-size: 32px;
    color: #003366;
}

.lobbyHeaderSide {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.rightHead {
    text-align: left;
}

.leftHead {
    text-align: right;
}

.lobbyGameCode {
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lobbyGameCode:hover {
    color: #0f62b6;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lobbyGameCode:active {
    color: #0fb649;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: calc(32px - 2px);
}

.lobbyIntSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    padding: 20px;
}

.largeLabelLobby {
    margin: 0px;
    font-size: 64px;
    text-transform: uppercase;
    color: #f0f0f0;
}

.lobbySetting {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 60px;
    align-items: center;
    width: 100%;
    padding-top: 15px;
}

.lobbyButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
}

.lobbyPlayerList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 30px;
}

.mediumLabel {
    color: #f0f0f0;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    text-transform: uppercase;
    width: 50%;
}

.bold {
    font-weight: bold;
    text-transform: none;
    font-variant: normal;
}

.lobbyInteractive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: calc(100vh - 75px);
}

.gameInteractive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: calc(100vh - 75px);
}

/* Scroll Bar */

.lobbyPlayerList::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
.lobbyPlayerList::-webkit-scrollbar-track {
    background: #656565;
    border-radius: 5px;

}

/* Handle */
.lobbyPlayerList::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 5px;
}

/* Handle on hover */
.lobbyPlayerList::-webkit-scrollbar-thumb:hover {
    background: #fe8700;
    border-radius: 5px;
}