body {
    background-color: #393939;
    justify-content: left;
    align-items: baseline;
}

.bold {
    font-weight: bold;
    padding-left: 10px;
}

.gameheader {
    position: fixed;
    width: 100%;
    height: 77px;
    background-color:#FFF;
    display: flex;
    justify-content: space-between;

    color: #036;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gameheader--score, .gameheader--name, .gameheader--round {
    display: flex;
    padding: 12px;
}

